<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div>
        <h1>Predict CO2 Emission</h1>
        <h3>Enter the values</h3>
        
        <form action="{{ url_for('predict')}}"method="post">
            <input type="text" name="enginesize" placeholder="Engine Size" required="required" />
            <input type="text" name="cylinders" placeholder="Cylinders" required="required" />
            <input type="text" name="fuel" placeholder="Fuel" required="required" />
    
            <button type="submit" class="btn">Predict</button>
        </form>
        <br>
        <br>
        {{ data }}

    </div>
</body>
</html>