<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Ecommerce customers</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<!-- <link rel="stylesheet" href="new.css"> -->
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">  
</head>

<body>
 <div class="login">
	<h1>Prediction of Yearly Amount Spent by customer</h1>
    <h3>Enter the values</h3>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Avg. Session Length" placeholder="Avg. Session Length" required="required" />
        <input type="text" name="Time on App" placeholder="Time on App" required="required" />
        <input type="text" name="Time on Website" placeholder="Time on Website" required="required" />
        <input type="text" name="Length of Membership" placeholder="Length of Membership" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ data }}

 </div>


</body>
</html>